
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

:root {
    --primary-color: #fe2c55;
    --secondary-color: #fff;
    --side-nav-width: 15rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
  font-family: Inter, system-ui, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed; /* Tối ưu hiển thị font */
}   
