
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

:root {
    --primary-color: #fe2c55;
    --secondary-color: #fff;
    --text-color: #000;
    --side-nav-width: 15rem;
    --feed-nav-button-width: 3rem;
    
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
  font-family: Inter, system-ui, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed; /* Tối ưu hiển thị font */
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: 100dvh;
}   

/* button, input, [tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
} */
